<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
<%- include partials/htmlhead.ejs %> 
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Edit trade</h1>
        <p>Trade Id: <%= trade._id %></p>
        <a href="/profile" class="btn btn-default">Home</a>
        <a href="/guide" class="btn btn-default">Guide</a>
        <a href="/logout" class="btn btn-default">Logout</a>
   </div>

    <div class="row">        
        <div class="col-12 col-lg-6 card mt-3 mb-3 mx-auto">
            <div class="card-body">
                <h5 class="card-title"> Edit Trade</h5>
                <form id="formAddTrade" name="addTrade" method="post" action="/update">
                    <input type="hidden"  id="userid"  name="userid" value="<%= user._id %>">
                    <input type="hidden" id="inputTradeId" name="tradeId" value="<%= trade._id %>">
                    <div class="form-group">
                        <label class="control-label" for="date">Date</label>
                        <input data-provide="datepicker" class="form-control" id="date" name="date" value='<%= trade.date %>' type="text" data-date-today-highlight="true" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputCoin">Coin/Token</label>
                        <input  class="form-control" id="inputCoin" type="text" placeholder="BTC" name="coin" value='<%= trade.coin %>'style="text-transform: uppercase" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputEntryRating">Entry Rating</label>
                        <input  class="form-control" id="inputEntryRating" type="number" name="entryRating" min="0" max="10" value='<%= trade.entryRating %>' required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputExitRating">Exit Rating</label>
                        <input  class="form-control" id="inputExitRating" type="number" name="exitRating" min="0" max="10" value='<%= trade.exitRating %>' required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputCoin">Comments</label>
                        <input  class="form-control" id="inputComments" type="text" name="comments" value='<%= trade.comments %>'/>                     
                    </div>                        
                    <button class="btn btn-primary float-right" id="btnSubmit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <%- include partials/footer.ejs %>
    <!-- -->
</div>
</body>
</html>
