
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
<%- include partials/htmlhead.ejs %>   
</head>
<body>
<div class="container">
	<!-- alert messages -->
	<% if (typeof errorString !== 'undefined') { %>
         <div class="alert alert-warning" role="alert">
            <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
            <strong>Warning!</strong> <%= errorString %>
         </div>
       
    <% } %>
    <% if (typeof successString !== 'undefined') { %>            
        <div class="alert alert-success" role="alert">
            <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
            <strong>Success!</strong> <%= successString %>
         </div>
    <% } %>    
    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <p>Welcome back, J.j. Mid</p>
        <a href="/guide" class="btn btn-default">Guide</a>
        <a href="/logout" class="btn btn-default">Logout</a>
    </div>

    <div class="row justify-content-between">
        <div class="col-12 col-lg-8 card mt-3 mb-3">
            <div class="card-body">                    
                <h5 class="card-title"> Trades</h5>
                <table class="table table-sm table-hover table-responsive">
                    <thead class="">
                        <tr>
                          <th class="d-none d-sm-table-cell" scope="col">Date </th>
                          <th class="text-right" scope="col">Coin</th>
                          <th class="text-right" scope="col">Entry Rating</th>
                          <th class="text-right" scope="col">Exit Rating</th>
                          <th class="text-right" scope="col">Comments</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                        </tr>
                    </thead>                        
                    <tbody>
	                    <% for(var i=trades.length-1; i >= 0; i--) {%>
	                        <tr>
		                        <th class="d-none d-sm-table-cell" scope="row"><%= trades[i].date %></th>
		                        <td class="text-right"><%= trades[i].coin %></td>
		                        <td class="text-right"><%= trades[i].entryRating %></td>
		                        <td class="text-right" ><%= trades[i].exitRating %></td>
		                        <td class="text-right"><%= trades[i].comments %></td>
		                        <td class="text-right"><a class="btn btn-sm" href="/edit/<%= trades[i]._id %>"><i class="fa fa-edit"></i></a></td>
		                        <td class="text-right"><a class="btn btn-sm" href="/delete/<%= trades[i]._id %>"><i class="fa fa-trash-o" style="color:red"></i></a></td>
	                        </tr>
	                    <% } %>                     
                    </tbody>                                  
                </table>
                <% if (trades.length == 0) { %>
                        <p>There doesn't seem to be any trades here. Enter details in the <a id="scroll" href="#add-trade">Add Trade</a> form </p>
                        <p>Don't know what's going on? Have a look at the <a href="guide/">guide</a> for an explanation</p>
                <% } %>
            </div>
        </div>

        <div class="col-12 col-lg-3 card mt-3 mb-3" id="add-trade">
            <div class="card-body">
                <h5 class="card-title"> Add New Trade</h5>
                <form id="formAddTrade" name="addTrade" method="post" action="/new">
                    <input type="hidden"  id="userid" value="5a8a81058922660d8650e397" name="userid">
                    <div class="form-group">
                        <label class="control-label" for="date">Date</label>
                        <input data-provide="datepicker" class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text" data-date-today-highlight="true" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputCoin">Coin/Token</label>
                        <input  class="form-control" id="inputCoin" type="text" placeholder="BTC" name="coin" style="text-transform: uppercase" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputEntryRating">Entry Rating <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rate your entry position score out of 10">?</a></label>
                        <input  class="form-control" id="inputEntryRating" type="number" name="entryRating" min="0" max="10" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputExitRating">Exit Rating <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rate your exit position score out of 10">?</a></label>
                        <input  class="form-control" id="inputExitRating" type="number" name="exitRating" min="0" max="10" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputCoin">Comments</label>
                        <input  class="form-control" id="inputComments" type="text" name="comments"/>                 
                    </div>                        
                    <button class="btn btn-primary float-right" id="btnSubmit" type="submit">Submit</button>
                </form>
            </div>
        </div>        
                
    </div>

    <!-- Footer -->
   	<%- include partials/footer.ejs %>
    <!-- -->
</div>
</body>
</html>

